body {
  background-color: #343a40;
  color: #fff;

}
.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.parent {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #116ee7;
  transition: bottom 0.4s ease-in-out;
}

.toastAlertContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.toastAlertText {
  margin-right: 10px;
}

.btn-light:hover{
  opacity: 0.9;
}